<div class="page-header">
  <%= link_to "Sign Up for Talk", new_talk_path, class:"btn btn-primary" %>
  <h1>LIGHTNING TALKS</h1>
</div>

<h3>TALKS COMING UP!</h3>
<%= render partial: "table", locals: {object_nm: @talks_not_completed} %>

<h3>TALKS COMPLETED!</h3>
<%= render partial: "table", locals: {object_nm: @talks_completed} %>
